<div class="d-flex justify-content-center" style="padding-top: 80px">
  <div class="card p-4" style="width: 400px">
    <h2 class="mb-4 text-center">Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Correo</label>
        <input type="email" class="form-control" formControlName="email" />

        <span class="error text-danger small">
          @if (
            loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
          ) {
            @if (loginForm.get('email')?.errors?.['required']) {
              Es requerido
            }
            @if (loginForm.get('email')?.errors?.['email']) {
              Debe ser un correo válido
            }
          }
        </span>
      </div>

      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" formControlName="password" />

        <span class="error text-danger small">
          @if (
            loginForm.get('password')?.invalid &&
            (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
          ) {
            @if (loginForm.get('password')?.errors?.['required']) {
              Es requerida
            }
            @if (loginForm.get('password')?.errors?.['minlength']) {
              Debe tener al menos 6 caracteres
            }
          }
        </span>
      </div>

      <div class="d-grid mb-3">
        <button class="btn btn-primary" type="submit">Ingresar</button>
      </div>

      <div class="text-center mt-4">
        <span class="small">¿No tienes cuenta?</span>
        <br />

        <a routerLink="/register/select" class="text-primary fw-semibold">
          Crear una cuenta
        </a>
      </div>
    </form>
  </div>
</div>
