.table-responsive {
  background: var(--bs-light);
  padding: 0;
  margin: 0;
  border-radius: 8px;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
}

table thead th {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--bs-primary);
  color: #fff;
  border-bottom: 2px solid #434aa0;
  cursor: pointer;
}

table thead tr {
  background-color: var(--bs-primary) !important;
}

table tbody tr {
  height: 32px;
}

table td,
table th {
  vertical-align: middle !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text {
  display: inline-block;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table tbody tr:hover {
  background-color: #e2e8f0;
}

.btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  color: #fff;
}

.btn-secondary:hover {
  background-color: #606f85;
  border-color: #606f85;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;
}

.btn-primary:hover {
  background-color: #434aa0;
  border-color: #434aa0;
}

.btn-danger {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
  color: #fff;
}

.btn-danger:hover {
  background-color: #c53030;
  border-color: #c53030;
}

.pagination .page-item .page-link {
  color: var(--bs-primary);
  border: 1px solid #cbd5e0;
  background-color: var(--bs-light);
  transition: 0.2s;
}

.pagination .page-item .page-link:hover {
  background-color: var(--bs-primary);
  color: #fff;
  border-color: var(--bs-primary);
}

.pagination .page-item.active .page-link {
  background-color: var(--bs-primary);
  color: #fff;
  border-color: var(--bs-primary);
}

.pagination .page-item.disabled .page-link {
  color: var(--bs-secondary);
  background-color: var(--bs-light);
  border-color: #cbd5e0;
  cursor: not-allowed;
}

.pagination {
  margin: 0;
  padding: 0;
}

.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 90%;
  max-width: 600px;
  margin: 0;
}

.custom-modal-content {
  background: var(--bs-light);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bs-primary);
  color: #fff;
  padding: 12px 16px;
  font-weight: 500;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
}

.custom-modal-body {
  max-height: 300px;
  overflow-y: auto;
  white-space: pre-line;
  padding: 12px 16px;
  color: var(--bs-dark);
}

.custom-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 12px 16px;
}
