<div class="dashboard-container">
  <h1 class="title mb-4">Dashboard Administrativo</h1>

  <div class="row g-3 cards-grid">
    <div class="col-6 col-md-6 col-lg-3">
      <div class="card h-100 card-center">
        <div class="icon"><i class="bi bi-calendar-event"></i></div>
        <h2>Actividades</h2>
        <p class="number">{{ totalActivities }}</p>
      </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3">
      <div class="card h-100 card-center">
        <div class="icon"><i class="bi bi-tags"></i></div>
        <h2>Categorías</h2>
        <p class="number">{{ totalCategories }}</p>
      </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3">
      <div class="card h-100 card-center">
        <div class="icon"><i class="bi bi-pencil-square"></i></div>
        <h2>Inscripciones</h2>
        <p class="number">{{ totalEnrollments }}</p>
      </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3">
      <div class="card h-100 card-center">
        <div class="icon"><i class="bi bi-people"></i></div>
        <h2>Organizadores</h2>
        <p class="number">{{ totalOrganizers }}</p>
      </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3">
      <div class="card h-100 card-center">
        <div class="icon"><i class="bi bi-mortarboard"></i></div>
        <h2>Estudiantes</h2>
        <p class="number">{{ totalStudents }}</p>
      </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3">
      <div class="card h-100 card-center">
        <div class="icon"><i class="bi bi-star"></i></div>
        <h2>Valoraciones</h2>
        <p class="number">{{ totalRatings }}</p>
      </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3">
      <div class="card h-100 card-center">
        <div class="icon"><i class="bi bi-person"></i></div>
        <h2>Usuarios</h2>
        <p class="number">{{ totalUsers }}</p>
      </div>
    </div>
  </div>
</div>

<!-- GRÁFICAS -->
<div class="charts-grid mt-4 row g-2">
  <!-- DONUT -->
  <div class="col-12 col-lg-6">
    <div class="chart-card h-100">
      <h3 class="mb-3 text-center">Actividades por categoría</h3>

      <div class="donut-wrapper">
        <div class="donut" [style.background]="donutBackground"></div>
      </div>

      <div class="donut-legend-wrapper">
        <ul class="donut-legend list-unstyled">
          @for (c of donutCategories; track $index) {
          <li class="d-flex align-items-center mb-2">
            <span class="dot me-2" [style.background]="c.color"></span>
            <span class="legend-text">
              {{ c.label }} (<strong>{{ c.count }}</strong
              >)
            </span>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>

  <!-- TOP 5 -->
  <div class="col-12 col-lg-6">
    <div class="chart-card h-100">
      <h3 class="mb-3 text-center">TOP 5 actividades mejor valoradas</h3>

      <div class="horizontal-bars">
        @for (item of chartTopRatings; track $index) {
        <div class="h-row">
          <span class="h-label">{{ item.label }}</span>
          <div class="h-bar-wrapper">
            <div class="h-bar" [style.width.%]="item.percent"></div>
          </div>
          <span class="h-value">
            {{ item.value | number : '1.1-2' }}
          </span>
        </div>
        }
      </div>
    </div>
  </div>
</div>
