<div class="container mt-4">
  <div class="d-flex flex-wrap align-items-center justify-content-between mb-3">
    <h2 class="mb-3 mb-md-0">Lista de Actividades</h2>

    <div class="d-flex flex-wrap gap-3 align-items-center">
      <app-search-form [filters]="activityFilters" (onSearch)="search($event)"></app-search-form>

      <button
        class="btn btn-outline-secondary d-flex align-items-center gap-1"
        (click)="loadActivities()"
      >
        <i class="bi bi-arrow-counterclockwise"></i>
        Reiniciar
      </button>
    </div>
  </div>

  <app-pagination-controls
    [totalData]="filteredActivities"
    [pageSizeOptions]="[6, 12, 18, 24]"
    (pagedDataChange)="handlePagedData($event)"
    (onPageChange)="handlePageChange($event)"
    (onTotalPagesChange)="handleTotalPages($event)"
  >
    <div class="row g-3">
      @for(activity of pagedData; track $index){
      <div class="col-md-4">
        <app-activity-card
          [activity]="activity"
          [categories]="categories"
          [organizers]="organizers"
        ></app-activity-card>
      </div>
      }
    </div>
  </app-pagination-controls>
</div>
