<div class="container mt-4">
  <h2 class="mb-4 text-center">Mis Inscripciones</h2>
  <app-pagination-controls
    [totalData]="filteredEnrollments"
    [pageSizeOptions]="[6, 12, 18]"
    (pagedDataChange)="handlePagedData($event)"
    (onPageChange)="handlePageChange($event)"
    (onTotalPagesChange)="handleTotalPages($event)"
  >
    <div class="row g-3">
      @for(enrollment of pagedData; track $index){
      <div class="col-md-4">
        @if(getActivity(enrollment.activityId)){
        <app-activity-card
          [activity]="getActivity(enrollment.activityId)!"
          [categories]="getActivityCategory(getActivity(enrollment.activityId)!)"
          [organizers]="getActivityOrganizer(getActivity(enrollment.activityId)!)"
        ></app-activity-card>
        }
      </div>
      }
    </div>
  </app-pagination-controls>
</div>
