.top-navbar {
  background-color: var(--bs-light);
  border-bottom: 2px solid #d2d3f0;
}

.top-link {
  color: var(--bs-primary);
  font-weight: 500;
  margin-left: 10px;
  padding: 10px 18px !important;
  border-radius: 6px;
  transition: 0.2s;
}

.top-link:hover {
  background-color: var(--bs-light);
  color: var(--bs-primary);
}

.top-link.active {
  background-color: var(--bs-primary);
  color: white !important;
}

* {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

.text-primary-custom {
  color: var(--bs-primary) !important;
}