<nav class="navbar navbar-expand-lg top-navbar mb-4 bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-primary"> Portal de Actividades </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @if (currentRole === UserRole.Estudiante) { @for (item of studentNav; track item.label) {
        <li class="nav-item">
          <a class="nav-link top-link" [routerLink]="item.link" routerLinkActive="active">
            {{ item.label }}
          </a>
        </li>
        } } @else if (currentRole === UserRole.Organizador) { @for (item of organizerNav; track
        item.label) {
        <li class="nav-item">
          <a class="nav-link top-link" [routerLink]="item.link" routerLinkActive="active">
            {{ item.label }}
          </a>
        </li>
        } } @else if (currentRole === UserRole.Admin) { @for (item of adminNav; track item.label) {
        <li class="nav-item">
          <a class="nav-link top-link" [routerLink]="item.link" routerLinkActive="active">
            {{ item.label }}
          </a>
        </li>
        } }
      </ul>
      <div class="d-flex align-items-center ms-lg-3">
        <div class="dropdown">
          <button
            class="btn btn-sm btn-outline-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Rol Actual: <span class="fw-bold">{{ currentRole }}</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li class="dropdown-header">Cambiar Rol (Simulación)</li>
            <li>
              <a class="dropdown-item" (click)="setCurrentRole(UserRole.Estudiante)">{{
                UserRole.Estudiante
              }}</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="setCurrentRole(UserRole.Organizador)">{{
                UserRole.Organizador
              }}</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="setCurrentRole(UserRole.Admin)">{{
                UserRole.Admin
              }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
