<div class="container py-4">
  <!-- CARD DE PERFIL -->
  <div class="card shadow-sm p-4">
    <div class="row align-items-center">
      <!-- FOTO -->
      <div class="col-md-3 text-center">
        <img
          [src]="photoPreview || '/img/user.png'"
          class="rounded-circle shadow"
          style="width: 140px; height: 140px; object-fit: cover"
        />
      </div>

      <!-- INFO PRINCIPAL -->
      <div class="col-md-9">
        <h3 class="fw-bold mb-1">{{ student.name }}</h3>
        <p class="text-muted mb-2">{{ student.email }}</p>

        <div class="row mt-3">
          <div class="col-md-6">
            <p class="mb-1"><strong>Facultad:</strong> {{ student.faculty }}</p>
            <p class="mb-1"><strong>Carrera:</strong> {{ student.career }}</p>
          </div>
          <div class="col-md-6">
            <p class="mb-1"><strong>Semestre:</strong> {{ student.semester }}</p>
            <p class="mb-1"><strong>Modalidad:</strong> {{ student.modality }}</p>
            <p class="mb-1"><strong>Jornada:</strong> {{ student.schedule }}</p>
          </div>
        </div>

        <p class="mt-2"><strong>Teléfono:</strong> {{ student.phone }}</p>

        <!-- BOTÓN ACTUALIZAR DATOS -->
        <button class="btn btn-primary mt-3" (click)="openEditProfile(student)">
          Actualizar datos
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="studentModal" tabindex="-1" #studentModalRef>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizar Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- FORM -->
      <form [formGroup]="formStudent">
        <div class="modal-body">
          <!-- NOMBRE -->
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="name" />

            <span class="error">
              @if(formStudent.get("name")?.invalid && (formStudent.get("name")?.dirty ||
              formStudent.get("name")?.touched)) {
              @if(formStudent.get("name")?.errors?.["required"]){ Es requerido }
              @if(formStudent.get("name")?.errors?.["minlength"]){ Debe tener mínimo 3 caracteres }
              @if(formStudent.get("name")?.errors?.["maxlength"]){ Debe tener máximo 50 caracteres }
              @if(formStudent.get("name")?.errors?.["pattern"]){ Solo letras y espacio } }
            </span>
          </div>

          <!-- EMAIL -->
          <div class="mb-3">
            <label class="form-label">Correo</label>
            <input type="text" class="form-control" name="email" formControlName="email" />
            <span class="error">
              @if(formStudent.get("email")?.invalid && (formStudent.get("email")?.dirty||
              formStudent.get("email")?.touched)){
              @if(formStudent.get("email")?.errors?.["required"]){ Es requerido}
              @if(formStudent.get("email")?.errors?.["email"]){ Debe ser un correo válido }}
            </span>
          </div>

          <!-- TELÉFONO -->
          <div class="mb-3">
            <label class="form-label">Teléfono</label>
            <input type="text" class="form-control" formControlName="phone" />

            <span class="error">
              @if(formStudent.get("phone")?.invalid && (formStudent.get("phone")?.dirty ||
              formStudent.get("phone")?.touched)) {
              @if(formStudent.get("phone")?.errors?.["required"]){ Es requerido }
              @if(formStudent.get("phone")?.errors?.["pattern"]){ Debe ser un número válido de 7 a
              15 dígitos, opcional + al inicio } }
            </span>
          </div>

          <!-- FACULTAD -->
          <div class="mb-3">
            <label class="form-label">Facultad</label>
            <select class="form-select" formControlName="faculty">
              @for (f of faculties; track $index) {
              <option [value]="f.faculty">{{ f.faculty }}</option>
              }
            </select>

            <span class="error">
              @if(formStudent.get("faculty")?.invalid && (formStudent.get("faculty")?.dirty ||
              formStudent.get("faculty")?.touched)) {
              @if(formStudent.get("faculty")?.errors?.["required"]){ Seleccione una facultad } }
            </span>
          </div>

          <!-- CARRERA -->
          <div class="mb-3">
            <label class="form-label">Carrera</label>
            <select class="form-select" formControlName="career">
              @for (c of careers; track $index) {
              <option [value]="c">{{ c }}</option>
              }
            </select>

            <span class="error">
              @if(formStudent.get("career")?.invalid && (formStudent.get("career")?.dirty ||
              formStudent.get("career")?.touched)) {
              @if(formStudent.get("career")?.errors?.["required"]){ Seleccione una carrera } }
            </span>
          </div>

          <!-- SEMESTRE -->
          <div class="mb-3">
            <label class="form-label">Semestre</label>
            <input type="number" class="form-control" formControlName="semester" min="1" max="10" />
            <span class="error">
              @if(formStudent.get("semester")?.invalid && (formStudent.get("semester")?.dirty||
              formStudent.get("semester")?.touched)){
              @if(formStudent.get("semester")?.errors?.["required"]){ Es requerido}
              @if(formStudent.get("semester")?.errors?.["min"] ||
              formStudent.get("semester")?.errors?.["max"]){ El semestre minimo es 1 y el maximo es
              10}}
            </span>
          </div>

          <!-- MODALIDAD -->
          <div class="mb-3">
            <label class="form-label">Modalidad</label>
            <div>
              @for(m of modalities; track $index) {
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="modality"
                  [value]="m"
                  id="modality{{ $index }}"
                />
                <label class="form-check-label" for="modality{{ $index }}">{{ m }}</label>
              </div>
              }
            </div>

            <span class="error">
              @if(formStudent.get("modality")?.invalid && (formStudent.get("modality")?.dirty ||
              formStudent.get("modality")?.touched)) {
              @if(formStudent.get("modality")?.errors?.["required"]){ Seleccione una modalidad } }
            </span>
          </div>

          <!-- JORNADA -->
          <div class="mb-3">
            <label class="form-label">Jornada</label>
            <div>
              @for(s of schedules; track $index) {
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="schedule"
                  [value]="s"
                  id="schedule{{ $index }}"
                />
                <label class="form-check-label" for="schedule{{ $index }}">{{ s }}</label>
              </div>
              }
            </div>

            <span class="error">
              @if(formStudent.get("schedule")?.invalid && (formStudent.get("schedule")?.dirty ||
              formStudent.get("schedule")?.touched)) {
              @if(formStudent.get("schedule")?.errors?.["required"]){ Seleccione una jornada } }
            </span>
          </div>

          <!-- FOTO -->
          <div class="mb-3">
            <label class="form-label">Foto (URL)</label>
            <input
              type="text"
              class="form-control"
              formControlName="photoUrl"
              (input)="updatePhotoPreview()"
            />
            <!-- VISTA PREVIA -->
            <div class="mt-2">
              @if(photoPreview){
              <img
                [src]="photoPreview"
                (error)="photoPreview = null"
                style="max-width: 140px; border-radius: 8px; border: 1px solid #ccc"
              />
              } @else {
              <div
                class="card-img-top bg-secondary d-flex align-items-center justify-content-center"
                style="
                  width: 140px;
                  height: 140px;
                  color: white;
                  border-radius: 8px;
                  border: 1px solid #ccc;
                "
              >
                Sin imagen
              </div>
              }
            </div>
          </div>

          <!-- BOTONES DEL MODAL -->
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" (click)="modalRef.hide()">
              Cancelar
            </button>
            <button class="btn btn-primary" type="button" (click)="save()">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
