<div class="container mt-4">
  <div class="d-block d-md-flex align-items-center justify-content-between mb-3">
    <h2 class="mb-3 mb-md-0">Gestión de Valoraciones</h2>

    <!-- BOTÓN BUSCAR -->
    <div class="d-flex align-items-center gap-3 justify-content-start">
      <app-search-form [filters]="ratingFilters" (onSearch)="search($event)"> </app-search-form>
    </div>
  </div>

  <app-data-table
    [colArray]="colArray"
    [gridData]="filteredRatings"
    [showEdit]="false"
    [showView]="false"
    (onDelete)="delete($event)"
  >
  </app-data-table>
</div>
