<div class="card h-100 shadow-sm">
  <!-- Imagen -->
  @if (activity.photoUrl) {
  <img
    [src]="activity.photoUrl"
    class="card-img-top"
    alt="Foto de la actividad"
    style="height: 200px; object-fit: cover"
  />
  } @else {
  <div
    class="card-img-top bg-secondary d-flex align-items-center justify-content-center"
    style="height: 200px; color: white"
  >
    Sin imagen
  </div>
  }

  <div class="card-body d-flex flex-column">
    <!-- TÍTULO -->
    <h5 class="card-title text-primary">{{ activity.title }}</h5>

    <!-- ESTADO DE INSCRIPCIÓN -->
    @if (isRegistrationClosed()) {
    <span class="badge-closed mb-2">
      <i class="bi bi-x-octagon-fill"></i>
      Inscripciones Cerradas
    </span>
    }

    <!-- CATEGORÍA -->
    <span class="badge bg-secondary mb-2 badge-custom">
      {{ getCategoryName() }}
    </span>

    <!-- DESCRIPCIÓN -->
    <p class="card-text text-muted small mt-1">{{ activity.description | slice : 0 : 80 }}...</p>

    <!-- INFORMACIÓN -->
    <ul class="list-group list-group-flush small mt-2 mb-3 flex-grow-1">
      <li class="list-group-item d-flex align-items-center">
        <i class="bi bi-calendar me-2 text-primary"></i>
        {{ activity.date | date : 'mediumDate' }}
      </li>
      <li class="list-group-item d-flex align-items-center">
        <i class="bi bi-clock me-2 text-primary"></i>
        {{ activity.timeRange }}
      </li>
      <li class="list-group-item d-flex align-items-center">
        <i class="bi bi-geo-alt me-2 text-primary"></i>
        {{ activity.location }}
      </li>
      <li class="list-group-item d-flex align-items-center">
        <i class="bi bi-person-badge me-2 text-primary"></i>
        Organiza: {{ getOrganizerName() }}
      </li>
    </ul>

    <!-- BOTÓN VER -->
    <div class="mt-auto text-end">
      <button class="btn btn-primary" (click)="view()">
        <i class="bi bi-eye me-1"></i> Ver
      </button>
    </div>
  </div>
</div>
