.top-navbar {
  background-color: #e8f0fe;
  border-bottom: 2px solid #d2e3fc;
}

.top-link {
  color: #1a73e8;
  font-weight: 500;
  margin-left: 10px;
  padding: 10px 18px !important;
  border-radius: 6px;
  transition: 0.2s;
}

.top-link:hover {
  background-color: #d2e3fc;
  color: #1a73e8;
}

.top-link.active {
  background-color: #1a73e8;
  color: white !important;
}

* {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}
