<div class="container mt-4">
  <div class="d-flex flex-wrap align-items-center justify-content-between mb-3">
    <h2 class="mb-3 mb-md-0">Gestión de Usuarios</h2>
    <div class="d-flex flex-wrap gap-3 align-items-center">
      <app-search-form [filters]="userFilters" (onSearch)="search($event)"> </app-search-form>

      <button
        class="btn btn-outline-secondary d-flex align-items-center gap-1"
        (click)="loadUsers()"
      >
        <i class="bi bi-arrow-counterclockwise"></i>
        Reiniciar
      </button>

      <button class="btn btn-primary d-flex align-items-center gap-2" (click)="openNew()">
        <i class="bi bi-person-plus"></i>
        Crear Usuario
      </button>
    </div>
  </div>

  <app-data-table
    [colArray]="colArray"
    [gridData]="filteredUsers"
    [showView]="false"
    (onEdit)="openEdit($event)"
    (onDelete)="delete($event)"
  >
  </app-data-table>

  <div class="modal fade" id="userModal" tabindex="-1" #userModalRef>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ editingId ? 'Editar Usuario' : 'Nuevo Usuario' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <form [formGroup]="formUser">
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" formControlName="name" />

              <span class="error">
                @if(formUser.get("name")?.invalid && (formUser.get("name")?.dirty ||
                formUser.get("name")?.touched)) { @if(formUser.get("name")?.errors?.["required"]){
                Es requerido } @if(formUser.get("name")?.errors?.["minlength"]){ Debe tener mínimo 3
                caracteres } @if(formUser.get("name")?.errors?.["maxlength"]){ Debe tener máximo 50
                caracteres } @if(formUser.get("name")?.errors?.["pattern"]){ Solo letras y espacio }
                }
              </span>
            </div>

            <div class="mb-3">
              <label class="form-label">Correo</label>
              <input type="email" class="form-control" formControlName="email" />
              <span class="error">
                @if(formUser.get("email")?.invalid && (formUser.get("email")?.dirty||
                formUser.get("email")?.touched)){ @if(formUser.get("email")?.errors?.["required"]){
                Es requerido} @if(formUser.get("email")?.errors?.["email"]){ Debe ser un correo
                válido }}
              </span>
            </div>

            <div class="mb-3">
              <label class="form-label">Teléfono</label>
              <input type="text" class="form-control" formControlName="phone" />

              <span class="error">
                @if(formUser.get("phone")?.invalid && (formUser.get("phone")?.dirty ||
                formUser.get("phone")?.touched)) { @if(formUser.get("phone")?.errors?.["required"]){
                Es requerido } @if(formUser.get("phone")?.errors?.["pattern"]){ Debe ser un número
                válido de 7 a 15 dígitos, opcional + al inicio } }
              </span>
            </div>

            <div class="mb-3">
              <label class="form-label">Rol</label>
              <select class="form-select" formControlName="role">
                <option value="" disabled>Seleccione un Rol</option>
                @for (role of userRoles; track $index) {
                <option [value]="role">{{ role }}</option>
                }
              </select>

              <span class="error">
                @if(formUser.get("role")?.invalid && (formUser.get("role")?.dirty ||
                formUser.get("role")?.touched)) { @if(formUser.get("role")?.errors?.["required"]){
                Seleccione un rol } }
              </span>
            </div>

            <div class="mb-3">
              <label class="form-label">Contraseña</label>
              <input type="password" class="form-control" formControlName="password" />

              <span class="error">
                @if(formUser.get("password")?.invalid && (formUser.get("password")?.dirty ||
                formUser.get("password")?.touched)) {
                @if(formUser.get("password")?.errors?.["required"]){ La contraseña es requerida para
                un nuevo usuario } }
              </span>
              @if(editingId && !formUser.get("password")?.touched) {
              <div class="form-text">Deje vacío para no cambiar la contraseña.</div>
              }
            </div>

            @if(editingId){
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="active"
                id="checkActive"
              />
              <label class="form-check-label" for="checkActive">Activo</label>
            </div>
            }
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" (click)="modalRef.hide()">
              Cancelar
            </button>
            <button class="btn btn-primary" type="button" (click)="save()">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
