<div class="header-container">
  <button type="button" class="btn btn-secondary" (click)="prevMonth()">
    <i class="bi bi-chevron-left"></i>
    Mes anterior
  </button>
  <h2 class="title">{{ months[selectedMonth] }} {{ selectedYear }}</h2>
  <button type="button" class="btn btn-secondary" (click)="nextMonth()">
    Mes siguiente<i class="bi bi-chevron-right"></i>
  </button>
</div>

<!-- MENSAJE DE CUANDO NO HAY ACTIVIDADES EN EL MES -->
@if (filteredDays.length === 0) {
  <div class="mensaje-vacio p-4 text-center border rounded">
    <i class="bi bi-calendar-x fs-1 mb-2"></i>
    <div>¡Parece que este mes está libre! Explora nuestras actividades e inscríbete.</div>
  </div>
}

@for (d of filteredDays; track $index) {
  <div class="days-container mb-4">
    <div class="day-card">
      <!-- FECHA DE LAS ACTIVIDADES -->
      <div class="day-title">
        {{ d.date | date: 'EEE d MMM' }}
      </div>

      <!-- DATOS DE LAS ACTIVIDADES -->
      @for (a of d.activities; track $index) {
        <div class="activity d-flex justify-content-between align-items-start">
          <div class="activity-left">
            <div class="activity-title">{{ a.title }}</div>
            <div class="activity-time">{{ a.start }} - {{ a.end }}</div>

            <!-- FECHA DE INSCRIPCIÓN -->
            <div class="enroll-date text-secondary">
              <strong>Inscrito el:</strong> {{ a.enrollmentDate | date: 'EEE d MMM' }}
            </div>

            <!-- ESTADO DE INSCRIPCIÓN -->
            @if (a.status === 'Inscrito') {
              <span
                class="badge badge-enrolled"
                (click)="cancelEnrollment(a)"
                title="Click para cancelar inscripción"
                style="cursor: pointer"
              >
                {{ getStatusBadge(a.status) }}
              </span>
            } @else {
              <span class="badge badge-cancelled">
                {{ getStatusBadge(a.status) }}
              </span>
            }
          </div>

          <!-- BOTÓN DE VER ACTIVIDAD -->
          <div class="activity-actions">
            <button type="button" class="btn btn-primary btn-lg" (click)="view(a.id)">
              <i class="bi bi-eye me-2"></i> Ver Actividad
            </button>
          </div>
        </div>
      }
    </div>
  </div>
}
