<div class="container mt-4">
  <div class="d-block d-md-flex align-items-center justify-content-between mb-3">
    <h2 class="mb-3 mb-md-0">Gestión de Inscripciones</h2>

    <!-- BOTÓN BUSCAR -->
    <div class="d-flex align-items-center gap-3 justify-content-start">
      <app-search-form [filters]="enrollmentFilters" (onSearch)="search($event)"> </app-search-form>

      <!-- BOTÓN CREAR -->
      <button
        type="button"
        class="btn btn-primary d-flex align-items-center gap-2 text-nowrap"
        (click)="openNew()"
      >
        <i class="bi bi-plus-circle"></i>
        Crear
      </button>
    </div>
  </div>

  <!-- TABLA -->
  <app-data-table
    [colArray]="colArray"
    [gridData]="filteredEnrollments"
    [showView]="false"
    (onEdit)="openEdit($event)"
    (onDelete)="delete($event)"
  >
  </app-data-table>

  <!-- MODAL CREAR/EDITAR -->
  <div class="modal fade" id="enrollmentModal" tabindex="-1" #enrollmentModalRef>
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- HEADER -->
        <div class="modal-header">
          <h5 class="modal-title">
            {{ editingId ? 'Editar Inscripción' : 'Nueva Inscripción' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- FORM -->
        <form [formGroup]="formEnrollment">
          <div class="modal-body">
            <!-- ACTIVIDAD -->
            <div class="mb-3">
              <label class="form-label">Actividad</label>
              <select class="form-select" formControlName="activityId">
                @for (a of activities; track $index) {
                  <option [value]="a.id">{{ a.title }}</option>
                }
              </select>
              <span class="error">
                @if (
                  formEnrollment.get('activityId')?.invalid &&
                  formEnrollment.get('activityId')?.touched
                ) {
                  Seleccione una actividad
                }
              </span>
            </div>

            <!-- ESTUDIANTE -->
            <div class="mb-3">
              <label class="form-label">Estudiante</label>
              <select class="form-select" formControlName="studentId">
                @for (s of students; track $index) {
                  <option [value]="s.id">{{ s.name }}</option>
                }
              </select>
              <span class="error">
                @if (
                  formEnrollment.get('studentId')?.invalid &&
                  formEnrollment.get('studentId')?.touched
                ) {
                  Seleccione un estudiante
                }
              </span>
            </div>

            <!-- FECHA -->
            @if (editingId) {
              <div class="mb-3">
                <label class="form-label">Fecha de inscripción</label>
                <input type="date" class="form-control" formControlName="enrollmentDate" readonly />
              </div>
            }

            <!-- OBSERVACIONES -->
            <div class="mb-3">
              <label class="form-label">Observaciones</label>
              <textarea
                class="form-control"
                rows="3"
                formControlName="note"
                placeholder="Escriba alguna observación..."
              ></textarea>
              <span class="error">
                @if (
                  formEnrollment.get('note')?.invalid &&
                  (formEnrollment.get('note')?.dirty || formEnrollment.get('note')?.touched)
                ) {
                  @if (formEnrollment.get('note')?.errors?.['maxlength']) {
                    Máximo 300 caracteres
                  }
                }
              </span>
            </div>

            @if (editingId) {
              <!-- ESTADO -->
              <div class="mb-3">
                <label class="form-label">Estado</label>
                <div>
                  @for (s of enrollmentStatuses; track $index) {
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        formControlName="status"
                        [value]="s"
                        id="status{{ $index }}"
                      />
                      <label class="form-check-label" for="status{{ $index }}">{{ s }}</label>
                    </div>
                  }
                </div>
                <span class="error">
                  @if (
                    formEnrollment.get('status')?.invalid &&
                    (formEnrollment.get('status')?.dirty || formEnrollment.get('status')?.touched)
                  ) {
                    @if (formEnrollment.get('status')?.errors?.['required']) {
                      Seleccione un estado
                    }
                  }
                </span>
              </div>
            }

            <!-- BOTONES -->
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" (click)="modalRef.hide()">
                Cancelar
              </button>
              <button class="btn btn-primary" type="button" (click)="save()">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
