<!-- CONTENEDOR DEL HEADER -->
<div class="header-container d-flex justify-content-between align-items-center mb-3">
  <!-- Botón MES ANTERIOR -->
  <button class="btn btn-secondary" (click)="prevMonth()">
    <i class="bi bi-chevron-left"></i>
    Mes anterior
  </button>

  <!-- TÍTULO DEL MES -->
  <h2 class="title text-center m-0">{{ months[selectedMonth] }} {{ selectedYear }}</h2>

  <!-- Botón MES SIGUIENTE -->
  <button class="btn btn-secondary" (click)="nextMonth()">
    Mes siguiente <i class="bi bi-chevron-right"></i>
  </button>
</div>

<!-- MENSAJE DE CUANDO NO HAY ACTIVIDADES EN EL MES -->
@if (filteredDays.length === 0) {
<div class="mensaje-vacio p-4 text-center border rounded">
  <i class="bi bi-calendar-x fs-1 mb-2"></i>
  <div>¡Parece que este mes no tiene actividades creadas!.</div>
</div>
} @for (d of filteredDays; track $index) {
<div class="days-container mb-4">
  <div class="day-card">
    <!-- FECHA DEL DÍA -->
    <div class="day-title">
      {{ d.date | date : 'EEE d MMM' }}
    </div>

    <!-- ACTIVIDADES DEL DÍA -->
    @for (a of d.activities; track $index) {
    <div class="activity">
      <div class="activity-left">
        <!-- TÍTULO -->
        <div class="activity-title">{{ a.title }}</div>

        <!-- HORARIO -->
        <div class="activity-time">{{ a.start }} - {{ a.end }}</div>

        <!-- ESTADO DE ACTIVIDAD -->
        <div class="activity-status" [class.active]="a.active" [class.inactive]="!a.active">
          {{ a.active ? 'Activa' : 'Inactiva' }}
        </div>
      </div>

      <!-- BOTONES DE ACCIONES -->
      <div class="activity-actions d-flex gap-2">
        <button class="btn btn-secondary me-2" (click)="view(a.id)">
          <i class="bi bi-eye-fill"></i>
        </button>
        <button class="btn btn-primary me-2" (click)="edit(a.id)">
          <i class="bi bi-pencil-fill"></i>
        </button>
      </div>
    </div>
    }
  </div>
</div>
}

<!-- CREAR ACTIVIDAD -->
<button class="btn btn-primary fab-btn d-flex align-items-center gap-2" (click)="new()">
  <i class="bi bi-plus-lg"></i>
  Crear Actividad
</button>
